body {
    padding: 0;
    margin: 0;
    color: #bababa;
    background-color: #393939;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
}

main {
    margin:auto;
    background-image: url("../assets/ground.png");
}

#github-link {
    position:relative;
    top: calc(100% + 10px)
}

canvas {
    position: absolute;
    display:block;
}

canvas#walls {
    z-index: 1;
}

canvas#game {
    border: 1px solid #4f4d4d;
    z-index: 2;
}

canvas#map {
    top:0;
    left:0;
}

canvas#game:hover {
    /*cursor: pointer;*/
}

canvas#game.in-game:hover {
    /*cursor: none;*/
}
