:root {
    --first-color: #bababa;
    --second-color: #2b2b2b;
}

body {
    padding: 0;
    margin: 0;
    color: var(--first-color);
    background-color: var(--second-color);
}

canvas#game {
    border: 1px solid #bababa;
    margin-left: calc(50vw - 250px);
    margin-top: calc(50vh - 250px);
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 155, 255, 1) 100%);
}

canvas#game:hover {
    cursor: pointer;
}

canvas#game.in-game:hover {
    cursor: none;
}
